/* set 6 */
$app_background_color: #000;
$nav_text_color: #3b3b3b;
$text_color: #ffffff;

$closed_primary: rgba(188, 177, 164, .25); // #bcb1a4
$closed_secondary: rgba(178, 41, 17, .25); //#b22911

$score_color: $text_color;

$dark_primary: #bbbbbb;
$dark_secondary: #FF0000;
$light_primary: #ffffff;
$light_secondary: #4A39C2;





$button_color: #ffffff;
$button_background: #3b3b3b;

$button_closed: #444444;
$button_closed_background: #1b1b1b;