$app_background_color: #000;
$text_color: #999;


$closed_primary: rgba(102, 0, 0, .5); // #600
$closed_secondary: rgba(102, 102, 102, .5); //#666

$score_color: #999;
$dark_primary: #333;
$dark_secondary: #ED3737;
$light_primary: #e5d8be;
$light_secondary: #4F9962;


$light_primary: #e5d8be;


// SIMPLIFIED COLOR SCHEME
//$dark_primary: $dark_secondary;
//$light_primary: $light_secondary;