$text_color: #999;


$closed_primary: #111;
$closed_primary: #600;
$closed_secondary: #666;
$closed_opacity: .5;

$score_color: #999;
$dark_primary: #333;
$dark_secondary: #ED3737;
$light_primary: #F7E9CD;
$light_secondary: #4F9962;



// SIMPLIFIED COLOR SCHEME
//$dark_primary: $dark_secondary;
//$light_primary: $light_secondary;