$app_background_color: #000;
$text_color: #999;
$nav_text_color: #666;


$closed_primary: rgba(102, 0, 0, .5); // #600
$closed_secondary: rgba(102, 102, 102, .5); //#666

$score_color: $text_color;
$dark_primary: #333;
$dark_secondary: #ED3737;
$light_primary: #e5d8be;
$light_secondary: #4F9962;


// SIMPLIFIED COLOR SCHEME
//$dark_primary: $dark_secondary;
//$light_primary: $light_secondary;




/* earth tones */
//$text_color: #999;
//
//
//$closed_primary: rgba(102, 0, 0, .5); // #600
//$closed_secondary: rgba(102, 102, 102, .5); //#666
//
//$score_color: $text_color;
//$dark_primary: #e2be98;
//$dark_secondary: #772d2d;
//$light_primary: #f4ead4;
//$light_secondary: #d35541;



/* pastel */
$text_color: #b22911;

$closed_primary: rgba(188, 177, 164, .25); // #bcb1a4
$closed_secondary: rgba(178, 41, 17, .25); //#b22911

$score_color: $text_color;
$dark_primary: #bcb1a4;
$dark_secondary: #db4315;
$light_primary: #edf4e3;
$light_secondary: #abe49b;

$nav_text_color: $dark_primary;



/* set 1 */
//$text_color: #ffffff;
//
//$closed_primary: rgba(188, 177, 164, .25); // #bcb1a4
//$closed_secondary: rgba(178, 41, 17, .25); //#b22911
//
//$score_color: $text_color;
//$dark_primary: #cccccc;
//$dark_secondary: #1592B2;
//$light_primary: #ffffff;
//$light_secondary: #FEB41C;
//
//$nav_text_color: $dark_primary;
//
//
//
//
///* set 2 */
//$text_color: #ffffff;
//
//$closed_primary: rgba(188, 177, 164, .25); // #bcb1a4
//$closed_secondary: rgba(178, 41, 17, .25); //#b22911
//
//$score_color: $text_color;
//$dark_primary: #999999;
//$dark_secondary: #E8511E;
//$light_primary: #ffffff;
//$light_secondary: #4A39C2;
//
//$nav_text_color: $dark_primary;
//
//
//
//
///* set 3 */
//$text_color: #ffffff;
//
//$closed_primary: rgba(188, 177, 164, .25); // #bcb1a4
//$closed_secondary: rgba(178, 41, 17, .25); //#b22911
//
//$score_color: $text_color;
//$dark_primary: #999999;
//$dark_secondary: #4A39C2;
//$light_primary: #ffffff;
//$light_secondary: #FEB41C;
//
//$nav_text_color: $dark_primary;
//
//
//
//
///* set 4 */
//$text_color: #ffffff;
//
//$closed_primary: rgba(188, 177, 164, .25); // #bcb1a4
//$closed_secondary: rgba(178, 41, 17, .25); //#b22911
//
//$score_color: $text_color;
//$dark_primary: #999999;
//$dark_secondary: #E8511E;
//$light_primary: #ffffff;
//$light_secondary: #ABD7CA;
//
//$nav_text_color: $dark_primary;
//
//
//
//
///* set 5 */
//$text_color: #ffffff;
//
//$closed_primary: rgba(188, 177, 164, .25); // #bcb1a4
//$closed_secondary: rgba(178, 41, 17, .25); //#b22911
//
//$score_color: $text_color;
//$dark_primary: #999999;
//$dark_secondary: #E8511E;
//$light_primary: #ffffff;
//$light_secondary: #3A95D4;
//
//$nav_text_color: $dark_primary;
//
//
//
//
///* set 6 */
//$text_color: #ffffff;
//
//$closed_primary: rgba(188, 177, 164, .25); // #bcb1a4
//$closed_secondary: rgba(178, 41, 17, .25); //#b22911
//
//$score_color: $text_color;
//$dark_primary: #999999;
//$dark_secondary: #FF0000;
//$light_primary: #ffffff;
//$light_secondary: #4A39C2;
//
//$nav_text_color: $dark_primary;






/////////////////////////////
$button_color: $text_color;
$button_background: $dark_primary;

$button_closed: $closed_secondary;
$button_closed_background: $closed_primary;