.info_panel {
    width: 100vw;
    height: 100vh;
    background-color: $app_background_color;
    margin: 0;
    padding: 0;

    position: absolute;
    top: 0;
    left: -100vw;
    opacity: 0;
    @include transition(opacity, ($transition-duration * 2), ease-in-out);

    &.visible {
        left: 0;
        opacity: 1;
    }

    h2 {
        margin: 10vh 6vw 3vh 6vw;
        font-size: 6vh;
    }
    p {
        margin: 0 6vw 4vw 6vw;
        width: 82vw;

        line-height: 5vh;
        font-size: 4vh;
    }
    button {
        border: none;
        padding: 0;
        color: $text_color;
        vertical-align: middle;
        @include transition(all, $transition-duration, ease-in-out);

        &.close {
            position: absolute;
            top: 3vh;
            right: 3vw;
            background-color: transparent;
            color: $nav_text_color;
            font-size: 7vmin;
            font-weight: 200;
            line-height: 10vmin;
            margin: 0;
            padding: 0 0 0 2vw;
        }
    }
}