@import "colors";
@import "config";

.menu {
    width: 100vw;
    height: 100vh;
    background-color: $app_background_color;
    margin: 0;
    padding: 0;

    position: absolute;
    top: 0;
    left: -100vw;
    @include single-transition(left, ($transition-duration * 2), ease-in-out);

    &.visible {
        left: 0;
    }

    h2 {
        text-align: center;
        margin: 10vh 2vw 4vh 2vw;
        font-size: 6vh;
    }
    button {
        border: none;
        padding: 0;
        color: $text_color;
        vertical-align: middle;
        @include single-transition(all, $transition-duration, ease-in-out);

        &.info {
            position: absolute;
            top: 3vh;
            right: 3vw;
            background-color: transparent;
            color: $nav_text_color;
            font-size: 10vmin;
            font-weight: 200;
            line-height: 10vmin;
            margin: 0;
            padding: 0 0 0 2vw;
        }
        &.button {
            margin: 0 2vw 2vw 2vw;
            width: 96vw;
            height: 15vh;

            line-height: 15vh;
            font-size: 5vh;
            background-color: $dark_primary;
            @include border-radius(2vmin);
        }
    }
}