section.menu {
    width: 100vw;
    height: 100vh;
    background-color: $app_background_color;
    margin: 0;
    padding: 0;

    position: absolute;
    top: 0;
    left: -100vw;
    @include transition(left, ($transition-duration * 2), ease-in-out);

    &.visible {
        left: 0;
    }

    h2 {
        text-align: center;
        margin: 10vh 2vw 4vh 2vw;
        font-size: 6vh;

        margin-bottom: 30vh;
    }
    button {
        border: none;
        padding: 0;
        color: $button_color;
        vertical-align: middle;
        @include transition(all, $transition-duration, ease-in-out);

        &.button {
            margin: 0 2vw 2vw 2vw;
            width: 96vw;
            height: 15vh;

            line-height: 15vh;
            font-size: 5vh;
            background-color: $button_background;
            border-radius: 2vmin;
        }
        &.continue {
            font-weight: bold;
        }
    }
}