@charset "utf-8";

@import "compass/css3";

@import "reset";
@import "colors";

$transition-duration: 100ms;


html {
    height: 100%;

}
body {
    font-family: Arial;
    height: 100%;
    overflow: hidden;
    background-color: black;
    color: $text_color;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    @include user-select(none);

    @media only screen and (orientation: portrait) {
        &.standalone {
            .dartboard_container {
                margin-top: 10%;
            }
        }
    }
}


.dartboard_container {
    position: relative;
    width: 96%;
    margin: 4% 2%;
    text-align: center;
    max-height: 60%;

    button.reset {
        position: absolute;
        top: 4%;
        left: 2%;
    }
}


h2 {
    font-size: 22px;
    text-align: center;
    margin: 0;
    padding: 3%;
    height: 4%;
}
.numbers_list {
    margin: 0 1%;
    height: 21%; /* this is really taking 6% more due to the 1% top/bottom margin on the <li> */

    li {
        vertical-align: top;
        display: inline-block;
        text-align: center;
        background-color: $dark_primary;
        margin: 1%;
        padding: 0;
        height: 33%;
        font-size: 20px;
        clear: both;
        @include border-radius(10%);

        width: 12%;

        @include single-transition(all, $transition-duration, ease-in-out);

        &.closed {
            text-decoration: line-through;
            opacity: $closed_opacity;
            background-color: $closed_primary;
        }
    }
}



/* SVG STYLES AND COLORS */
.dartboard {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;


    // Numbers on the outside
    .sector {
        @include single-transition(all, $transition-duration, ease-in-out);
        &.dark {
            .single { fill: $dark_primary; }
            .double { fill: $dark_secondary; }
            .triple { fill: $dark_secondary; }
        }
        &.light {
            .single { fill: $light_primary; }
            .double { fill: $light_secondary; }
            .triple { fill: $light_secondary; }
        }

        &.closed {
            opacity: $closed_opacity;
            .single { fill: $closed_primary; }
            .double { fill: $closed_secondary; }
            .triple { fill: $closed_primary; }
        }

        .score { fill: $score_color; }
    }
    .sector_bull {
        .dark { fill: $dark_secondary; }
        .light { fill: $light_secondary; }
        &.closed {
            .dark, { fill: $closed_primary; }
            .light { fill: $closed_secondary; }
        }
    }
}




@media only screen and (orientation: landscape) {
    h2 {
        display: none;
    }

    .dartboard_container {
        display: inline-block;
        vertical-align: top;

        margin: 1% auto 1% 4%;
        width: 56%;
        max-width: 60%;
        height: 100%;
        max-height: 100%;
    }

    .numbers_list {
        display: inline-block;
        vertical-align: top;

        margin: 1% 4%;
        height: 100%;
        width: 32%;

        li {
            margin: 1%;
            width: 31%;
            height: 12%;
        }
    }
}