@charset "utf-8";

@import "compass/reset";
@import "compass/css3";

@import "colors";
@import "config";

@import "menu";



body {
    font-family: -apple-system, Times New Roman, Helvetica Neue, Arial, sans-serif;
    font-weight: 300;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: $app_background_color;
    color: $text_color;

    @include user-select(none);

    @media only screen and (orientation: portrait) {
        &.standalone {
            .dartboard_container {
                margin-top: 5vh;
            }
        }
    }
}
*, html {
    font-weight: 300;
}


button.reset {
    position: absolute;
    top: 3vh;
    left: 3vw;
    background-color: transparent;
    border: none;
    color: #666;
    font-size: 10vmin;
    font-weight: 200;
    line-height: 10vmin;
    margin: 0;
    padding: 0 2vw 0 0;
}


.dartboard_container { // 60%h
    width: 96vw;
    margin: 4vh 2vw;
    text-align: center;
    max-height: 52vh;
}


h2.numbers { // 6%h
    font-size: 4vh;
    line-height: 4vh;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    padding: 0 2vw 2vh 2vw;
}
.numbers_list { // 29%h + 6vw
    margin: 0 1vw;
    padding: 0;

    button {
        border: none;
        color: $text_color;
        display: inline-block;
        background-color: $dark_primary;
        margin: 1vw;
        padding: 0;
        width: 12vw;
        height: 9vh;
        line-height: 9vh;
        text-align: center;
        vertical-align: middle;
        font-size: 5vmin; // used width because button can be tall and narrow
        @include border-radius(2vmin);
        @include single-transition(all, $transition-duration, ease-in-out);

        &.closed {
            text-decoration: line-through;
            color: $closed_secondary;
            background-color: $closed_primary;
        }
    }
}



/* SVG STYLES AND COLORS */
.dartboard {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    .sector {
        @include single-transition(all, $transition-duration, ease-in-out);
        &.dark {
            .single { fill: $dark_primary; }
            .double { fill: $dark_secondary; }
            .triple { fill: $dark_secondary; }
        }
        &.light {
            .single { fill: $light_primary; }
            .double { fill: $light_secondary; }
            .triple { fill: $light_secondary; }
        }

        &.closed {
            .single { fill: $closed_primary; }
            .double { fill: $closed_secondary; }
            .triple { fill: $closed_primary; }
            .score { fill: $closed_primary; }
        }

        .score { fill: $score_color; }
    }
    .sector_bull {
        .dark { fill: $dark_secondary; }
        .light { fill: $light_secondary; }
        &.closed {
            .dark, { fill: $closed_primary; }
            .light { fill: $closed_secondary; }
        }
    }
}


@media only screen and (orientation: landscape) {
    h2.numbers {
        display: none;
    }

    .dartboard_container { //60%w
        display: inline-block;
        vertical-align: top;

        margin: 1vh 2vw;
        width: 56vw;
        max-width: 56vw;
        height: 98vh;
        max-height: 98vh;
    }

    .numbers_list { // 40%w
        display: inline-block;
        vertical-align: top;

        margin: 1vh 2vw;
        width: 36vw;

        button {
            margin: 1vh;
            width: 10vw;
            height: 12vh;
            line-height: 12vh;
        }
    }
}