html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/* earth tones */
/* pastel */
/* earth tones */
/* pastel */
section.menu { width: 100vw; height: 100vh; background-color: #000; margin: 0; padding: 0; position: absolute; top: 0; left: -100vw; -moz-transition: left 200ms ease-in-out; -o-transition: left 200ms ease-in-out; -webkit-transition: left 200ms ease-in-out; transition: left 200ms ease-in-out; }
section.menu.visible { left: 0; }
section.menu h2 { text-align: center; margin: 10vh 2vw 4vh 2vw; font-size: 6vh; margin-bottom: 30vh; }
section.menu button { border: none; padding: 0; color: #b22911; vertical-align: middle; -moz-transition: all 100ms ease-in-out; -o-transition: all 100ms ease-in-out; -webkit-transition: all 100ms ease-in-out; transition: all 100ms ease-in-out; }
section.menu button.info { position: absolute; top: 3vh; right: 3vw; background-color: transparent; color: #bcb1a4; font-size: 7vmin; font-weight: 200; line-height: 10vmin; margin: 0; padding: 0 0 0 2vw; }
section.menu button.button { margin: 0 2vw 2vw 2vw; width: 96vw; height: 15vh; line-height: 15vh; font-size: 5vh; background-color: #bcb1a4; -moz-border-radius: 2vmin; -webkit-border-radius: 2vmin; border-radius: 2vmin; }
section.menu button.continue { font-weight: bold; }

/* earth tones */
/* pastel */
.info_panel { width: 100vw; height: 100vh; background-color: #000; margin: 0; padding: 0; position: absolute; top: 0; left: -100vw; opacity: 0; -moz-transition: opacity 200ms ease-in-out; -o-transition: opacity 200ms ease-in-out; -webkit-transition: opacity 200ms ease-in-out; transition: opacity 200ms ease-in-out; }
.info_panel.visible { left: 0; opacity: 1; }
.info_panel h2 { margin: 10vh 6vw 3vh 6vw; font-size: 6vh; }
.info_panel p { margin: 0 6vw 4vw 6vw; width: 82vw; line-height: 5vh; font-size: 4vh; }
.info_panel button { border: none; padding: 0; color: #b22911; vertical-align: middle; -moz-transition: all 100ms ease-in-out; -o-transition: all 100ms ease-in-out; -webkit-transition: all 100ms ease-in-out; transition: all 100ms ease-in-out; }
.info_panel button.close { position: absolute; top: 3vh; right: 3vw; background-color: transparent; color: #bcb1a4; font-size: 7vmin; font-weight: 200; line-height: 10vmin; margin: 0; padding: 0 0 0 2vw; }
.info_panel button.button { margin: 0 2vw 2vw 2vw; width: 96vw; height: 15vh; line-height: 15vh; font-size: 5vh; background-color: #bcb1a4; -moz-border-radius: 2vmin; -webkit-border-radius: 2vmin; border-radius: 2vmin; }

body { font-family: -apple-system, Times New Roman, Helvetica Neue, Arial, sans-serif; font-weight: 300; height: 100vh; width: 100vw; overflow: hidden; background-color: #000; color: #b22911; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }
@media only screen and (orientation: portrait) { body.standalone .dartboard_container { margin-top: 5vh; } }

*, html { font-weight: 300; }

button.menu { position: absolute; top: 3vh; left: 3vw; background-color: transparent; border: none; color: #bcb1a4; font-size: 10vmin; font-weight: 200; line-height: 10vmin; margin: 0; padding: 0 2vw 0 0; }

.dartboard_container { width: 96vw; margin: 4vh 2vw; text-align: center; max-height: 52vh; }

h2.numbers { font-size: 4vh; line-height: 4vh; vertical-align: middle; text-align: center; margin: 0; padding: 0 2vw 2vh 2vw; }

.numbers_list { margin: 0 1vw; padding: 0; }
.numbers_list button { border: none; color: #b22911; display: inline-block; background-color: #bcb1a4; margin: 1vw; padding: 0; width: 12vw; height: 9vh; line-height: 9vh; text-align: center; vertical-align: middle; font-size: 5vmin; -moz-border-radius: 2vmin; -webkit-border-radius: 2vmin; border-radius: 2vmin; -moz-transition: all 100ms ease-in-out; -o-transition: all 100ms ease-in-out; -webkit-transition: all 100ms ease-in-out; transition: all 100ms ease-in-out; }
.numbers_list button.closed { text-decoration: line-through; color: rgba(178, 41, 17, 0.25); background-color: rgba(188, 177, 164, 0.25); }

/* SVG STYLES AND COLORS */
.dartboard { width: 100%; max-width: 100%; height: auto; max-height: 100%; -webkit-tap-highlight-color: transparent; }
.dartboard .sector { -moz-transition: all 100ms ease-in-out; -o-transition: all 100ms ease-in-out; -webkit-transition: all 100ms ease-in-out; transition: all 100ms ease-in-out; }
.dartboard .sector.dark .single { fill: #bcb1a4; }
.dartboard .sector.dark .double { fill: #db4315; }
.dartboard .sector.dark .triple { fill: #db4315; }
.dartboard .sector.light .single { fill: #edf4e3; }
.dartboard .sector.light .double { fill: #abe49b; }
.dartboard .sector.light .triple { fill: #abe49b; }
.dartboard .sector.closed .single { fill: rgba(188, 177, 164, 0.25); }
.dartboard .sector.closed .double { fill: rgba(178, 41, 17, 0.25); }
.dartboard .sector.closed .triple { fill: rgba(188, 177, 164, 0.25); }
.dartboard .sector.closed .score { fill: rgba(188, 177, 164, 0.25); }
.dartboard .sector .score { font-size: 36px; font-weight: bold; fill: #b22911; }
.dartboard .sector_bull .single { fill: #db4315; }
.dartboard .sector_bull .double { fill: #bcb1a4; }
.dartboard .sector_bull.closed .dark { fill: rgba(188, 177, 164, 0.25); }
.dartboard .sector_bull.closed .light { fill: rgba(178, 41, 17, 0.25); }

@media only screen and (orientation: landscape) { h2.numbers { display: none; }
  .dartboard_container { display: inline-block; vertical-align: top; margin: 1vh 2vw; width: 56vw; max-width: 56vw; height: 98vh; max-height: 98vh; }
  .numbers_list { display: inline-block; vertical-align: top; margin: 1vh 2vw; width: 36vw; }
  .numbers_list button { margin: 1vh; width: 10vw; height: 12vh; line-height: 12vh; } }
